@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0 ;
  padding:0;
  background-color: #EBE6DC !important;
  font-family: "Roboto Mono", monospace !important;
}

.color {
  color: #8a6d48;
}

.border-nav {
  border: 1.5px solid #8a6d48;
  
}

.border-nav-end {
  border-right: 1px dashed #8a6d48;
  
}

.border-cover {
  border: 1.5px dashed #8a6d48;
}

button {
  background-color: #ddc79c!important;
  border: 1.5px dashed #8a6d48!important;
  color: #8a6d48!important;
}






